pipeline/FilterAndCopySecurityMasterFeedToInput.json
{
	"name": "FilterAndCopySecurityMasterFeedToInput",
	"properties": {
		"activities": [
			{
				"name": "GetFilesFromStaging",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "AllFiles",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FilterStartsWith",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFilesFromStaging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFilesFromStaging').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'f6600af400.ext')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FilterEndsWith",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "FilterStartsWith",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterStartsWith').output.Value",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name, '2')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetArrayOfFileNames",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "FilterEndsWith",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ArrayOfFilenames",
					"value": {
						"value": "@activity('FilterEndsWith').output.Value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SetArrayOfFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('ArrayOfFilenames')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyDataToInputFolder",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@string(item().name)",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SecurityMaster",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SecurityMasterFilteredRaw",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "pipeline5",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "CopyDataToInputFolder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ProcessPatternMatching",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"variables": {
			"ArrayOfFilenames": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "PatternMatching"
		},
		"annotations": []
	}
}