pipeline/FilterAndCopySecurityMasterFeedToInput.json
{
	"name": "pipeline4",
	"properties": {
		"activities": [
			{
				"name": "GetFilesFromStaging",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SecurityMaster",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FilterStartsWith",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFilesFromStaging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'f6600af400.ext')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FilterEndsWith",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "FilterStartsWith",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.Value",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name, '2')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CheckForSize",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "FilterEndsWith",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('Filter1').output.Value), 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "SetArray",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ArrayOfFilenames",
								"value": {
									"value": "@activity('FilterEndsWith').output.Value",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"ArrayOfFilenames": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}